%h1 Edit Track Type
.track_types
  .add_new
    = simple_form_for @track_type do |f|
      = f.input :name, :input_html => {:class => 'focus_here'}
      = f.button :submit, {:id => "new_track_type"}
