%h1 My Racing Series
.racing_series
  .add_new
    = simple_form_for @racing_series do |f|
      = f.input :name, :input_html => {:class => 'focus_here'}
      = f.button :submit

  .index_list
    = render :partial => 'racing_series_list', :locals => {:all_racing_series => @all_racing_series}
