%h1 My Venues
.venues
  .add_new
    = simple_form_for @venue do |f|
      = f.input :name, :input_html => {:class => 'focus_here'}
      = f.button :submit, {:id => 'new_venue'}

  .index_list
    = render :partial => 'venue_list', :locals => {:venues => @venues}
