%table{:summary => 'bike list'}
  %tr
    %th Model
    %th Manufacturer
  - bikes.each_with_index do |bike, i|
    %tr{:class => "#{((i+1) % 2 == 0 ? "even" : "odd")}"}
      %td= bike.model
      %td= bike.manufacturer
