$odd_row_color: #ccf;
$even_row_color: #fff;
$intersection: #000;
// $blueprint_grid_columns: 8;
// $blueprint_grid_width: 40px;


@import "blueprint"; 
@import "blueprint/grid";
@import "compass/utilities/tables/alternating-rows-and-columns";
 
// .two-col {
//   @include container;
//   background-color: #cccccc;
//   #header, #footer {
//     @include column(8); }
//   #sidebar {
//     @include column(3); }
//   #content {
//     @include column(5, true); } }





@mixin add-new {
	float: left;
	width: 400px;
	padding-right: 100px;
	padding-top: 19px;
}

@mixin index-list($columns: 2, $width: 300px) {
	float: left;
	width: $width;
	table {
		@include alternating_rows_and_columns($even_row_color, $odd_row_color, $intersection);
	}
	td {
		padding: 2px 5px;		
		width: $width / $columns;
	}
}