$odd_row_color: #ccf;
$even_row_color: #fff;
$intersection: #000;
$attention: #2b4e80;


@import "blueprint"; 
@import "blueprint/grid";
@import "compass/utilities/tables/alternating-rows-and-columns";
@import "fancy-buttons"; //fancy-buttons ( color, font-size, border-radius, border-size )
@import "compass/utilities/lists/bullets";

@mixin create-button {
	@include fancy-button($attention);
}

input[type="submit"] {
	@include create-button;
}

h1 { text-align: center;}

@mixin add-new {
	float: left;
	width: 400px;
	padding-right: 100px;
	padding-top: 19px;
}

@mixin index_list($columns: 2, $width: 300px) {
	float: left;
	width: $width;
	table {
		@include alternating_rows_and_columns($even_row_color, $odd_row_color, $intersection);
		font-size: 10pt;
		font-family: arial;
		.delete {
			input[type='submit'] {
					@include fancy-button(red, 90%, 3px);
					padding: .1em 1em;
					float: right;
			}
		}
	}
	td {
		padding: 2px 5px;		
		width: $width / $columns;
		a { 
			padding-top: 3px;
			padding-left: 3px;
			float: left;}
	}
}

