// Place all the styles related to the bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$odd_row_color: #ccf;

.add_new {
	float: left;
	width: 400px;
	padding-right: 100px;
	padding-top: 19px;
}
	
.index_list {
	float: left;
	width: 300px;
	td {
		padding: 2px 5px;		
		width: 150px;
	}
	tr.odd {
		background: $odd_row_color;
	}
		
}