.sessions {
	// @include showgrid;
	$width: 8;

	.index_list { @include index_list }

	.nav {
		div {
			border-style: solid;
			border-color: #555;
			background-color: #aaa;
			border-width: 1px;
			height: 20px;
			text-align: center;
			padding-top: 3px;
		}
		.active { 
			@include column(6);
			margin: 0px 0px 35px 0px;
			background-color: #476ece;
			}
		.inactive { 
			@include column(6);
			margin: 0px 0px 35px 0px;
			.hidden {display: none;}
			}
	}
	.notes { 
		@include column(24);
		textarea {
			width: span(16);
			height: 120px;
			}
		}
	.circumstances {
		@include column(24);
    .time {
			@include push(3.0); 
			@include column($width);
		}                 
    .conditions {     
			@include column(8, true);	
			@include push(3);
			label { width: 150px; }
		}
  }
  .tires, .gearing {
		@include column(24);
		input[type='number'] {
		  width: 50px;
		}
		.front {
			@include push(4);
			@include column(7);
		}
		.rear {
			@include column(7, true);
		}
	}
  .suspension {
		input[type='number'] {
		  width: 50px;
		}
		@include column(24);
		label { width: 150px; }
		.front {
			@include push(4);
			@include column(8);
		}
		.rear {
			@include column(8, true);			
		}
	}
	.hidden {display: none;}
  .button {
		input[type='submit'] {
		  margin-left: 0px;
		}
		@include push(8);
		@include column(8);
	}
  
	
}


